@media screen and (max-width: 1000px){
   .navbar{
    position: relative;
   }

    .navbar .menu{
    display: none;
   } 

   .navbar .logo{
    text-align: center;
    margin: 0;
   }

   .header{
    padding-top: 50px;
   }

   .headline{
    flex: 100%;
    margin: 5%;
    text-align: center;
   }

   .headline p{
    text-align: center;
   }

   .img-headline{
    flex: 100%;
    margin: 5%;
    text-align: center;
   } 

   .whats img{
    width: 40px;
   }

   .card{
    width: 100%;
    margin: 2%;
   }
}