@charset "utl-8";

@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --cor1:#c81c6f;
    --cor2:#727070;
    --cor3:#4147BF;
    --cor4:#150E40;

    --font1:'Roboto', sans-serif;
    --font2: 'Luxurious Roman', cursive;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font1);
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
}

.navbar .logo{
    flex: 30%;
    /* border: 1px solid black; */
    margin-left: 10%;
}

.navbar .logo h1{
    color: var(--cor4);
    font-family: var(--font2);
    font-size: 34px;
}

.navbar .menu{
    /* border: 1px solid black; */
    flex: 50%;
    margin-right: 10%;
    text-align: right;
    padding: 10px;
}

.navbar .menu a{
    text-decoration: none;
    color: var(--cor4);
    padding: 10px 14px;
    font-size: 1em;
     
}

.navbar .menu a:hover{
    border-top: 2px solid var(--cor1);
}

.navbar .menu a:active{
    border-bottom: 2px solid var(--cor1);
}

#botao{
    background-color: var(--cor4);
    color: white;
    border-radius: 5px;
    margin-left: 5%;
    /* margin-right: 10%; */
}

#botao:hover{
    background-color: var(--cor1);
    border: none;   
}

.header{
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.headline{
    flex: 40%;
    margin-left: 10%;
    /* border: 1px solid black;   */
}

.headline #sobre-titulo{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 15px;
}

.headline #titulo{
    font-size: 75px;
    color: var(--cor4);
    
}

.headline p{
    text-align: left;
    color: #727070;
    margin-top: 10px;
    margin-bottom: 15px;
    
}

.botao-ctt{
    display: inline-block;
    background-color: var(--cor1);
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}

.botao-ctt:hover{
    background-color: var(--cor4);
    transform: scale(1.05);
    transition: 0.5s;
}

.img-headline{
    flex: 40%;
    margin-right: 10%;
    /* border: 1px solid black;  */
    text-align: center;
    
}

.img-headline img{
    max-width: 90%;
}

section{
    display: inline-block;
    margin-top: 80px;
    /* border: 1px solid black; */
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    text-align: center;
    
}

section h2{
    width: 100%;
    font-size: 40px;
    font-family: var(--font2);
    font-weight: bold;
    color: var(--cor4);

}

.servicos{
    display: inline-block;
    margin-top: 5%;
}

.card{
    display: inline-block;
    /* 30% pois são 3 cards */
    width: 30%;
    /* 1% para complementar os 30% */
    margin: 1%;
    padding: 20px;
    border: 1px solid var(--cor1);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    cursor: pointer;
}

.card img{
    width: 64px;
}

.card h3{
    padding-top: 10px;
    padding-bottom: 10px;
}
/* Processo para tirar o conteudo e mostrar outro utilizando o :hover */
.texto-oculto{
    display: none;
}
/* Processo para tirar o conteudo e mostrar outro utilizando o :hover */
.card:hover{
    background-color: var(--cor1);
    color: white;
    padding: 50px;
    
}
/* Processo para tirar o conteudo e mostrar outro utilizando o :hover */
.card:hover img{
    display: none;
}
/* Processo para tirar o conteudo e mostrar outro utilizando o :hover */
.card:hover .card-text{
    display: none;
}
/* Processo para tirar o conteudo e mostrar outro utilizando o :hover */
.card:hover .texto-oculto{
    display: block;
}

footer{
    position: relative;
    margin-top: 100px;
    height: 200px;
    background-image: linear-gradient(180deg,#2a2f83,#150E40,black); 
    border-top: 2px solid #c81c6f;
    z-index: 0;
}

footer .rodape{
    text-align: center;
    padding: 40px;
    color: white;
}

footer #titulo-rodape{
    margin-bottom: 10px;
    color: white;
    font-family: var(--font2);
    font-size: 34px; 
}

footer #direito{
    text-align: center;
    color: white;
}

.whats img{
    z-index: 1;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 90px;
}


